{% extends 'base.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h2>Свяжитесь с нами</h2>
        <p>Если у вас есть идеи по улучшению ToDo, пишите!</p>
        <ul class="list-unstyled">
            <li>📧 <strong>Email:</strong> admin@webtodo.com</li>
            <li>📱 <strong>Telegram:</strong> @webtodo_support</li>
        </ul>
    </div>
    <div class="col-md-6">
        {% if success %}
        <div class="alert alert-success">Сообщение отправлено админу в Телеграм!</div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <textarea name="message" class="form-control"></textarea>
            <button type="submit">Отправить</button>
        </form>
    </div>
</div>
{% endblock %}